// Fonts
$fonts: 'Poppins', sans-serif;

// Template Colors

// Primary
$primary: black;

// Secondary
$secondary: #6c757d;

// Success
$success: #198766;

// Warning
$warning: #6c757d;

// Info
$info: #0db7f0;

// Danger
$danger: #dc4135;

// White
$white: black;


// Dark
$dark: white;

// Dark Secondary 
$dark-sec: white;

// Heading
$heading: white;
$button:#D3D3D3;

// Text
$text: gray;

// Text Gray
$text-gray: rgb(69, 68, 68);

// Border
$border: #ebebeb;

// Gray
$gray: #efeffd;